body {
  background-color: #61dafb;
  font-family: Calibri;
  font-size: x-large;
  line-height: 2;
}

input {
  border-radius: 25px;
  background-color:rgb(247, 254, 157);
  font-family: Arial;
  font-size: large;
  height: 40px;
  width: 300px;
  text-align: center;
}

button {
  border-radius: 20px;
  background-color: #ee2d0b;
  font-family: Arial;
  font-size: large;
  height: 30px;
  width: 100px;
  text-align: center;
}