body {
  background-color: #000000;
  font-family: Calibri;
  font-size: large;
  line-height: 2;
  justify-content: center;
  color: white;
}

input {
  border-radius: 25px;
  background-color:rgb(247, 254, 157);
  font-family: Arial;
  font-size: medium;
  height: 40px;
  width: 300px;
  text-align: center;
}

button {
  border-radius: 20px;
  background-color: #d000d0;
  font-family: Arial;
  font-size: medium;
  height: 30px;
  width: 100px;
  text-align: center;
}

rect {
  border-radius: 20px;
  background-color: #d000d0;
  font-family: Arial;
  font-size: medium;
  height: 30px;
  width: 100px;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
  border: 2px solid rgb(0, 255, 0);
  width: 800px;
  border-radius: 20px;
}

th {
  border: 2px solid rgb(0, 255, 0);
  border-radius: 20px;
}

td {
  border: 1px solid rgb(0, 255, 0);
  border-radius: 20px;
}

.center{
  text-align: center;
}

.box{
  width: 450px;
  min-width: 250px;
  background-color: #fff;
  color: #151531;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 auto; /* Center the element horizontally */
  border-radius: 10px; /* Round the corners */
}

.link {
  color: #f000f0;
}